<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
 <!--   <test  name="loguearse">
        <classes>
            <class name="com.magento.test.LoginTest">
                <methods>
                    <include name="doLogin"/>
                    &lt;!&ndash;<exclude name="doLoginFail"/>&ndash;&gt;
                </methods>
            </class>
        </classes>
    </test>-->
    <test  name="crear una orden">
        <classes>
            <class name="com.magento.test.CreateOrderTest">
                <methods>
                    <include name="CreateNewOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>